REACT_APP_CONTRACT_ADDR=0x0E51Ac179A2f148a7F1a8Ac62882258aE40B85d8
REACT_APP_INFURA_KEY=3f2d7215aec24e57ae58f4656a59fe7d
REACT_APP_NETWORK_NAME=mainnet
REACT_APP_NETWORK_ID=4
REACT_APP_API_KEY=ACCzScSl0JjkC
REACT_APP_GTM_ID="G-9K9NSNF0QY"
REACT_APP_CLOUDFRONT=https://d2uzb6tmil5pbz.cloudfront.net/


REACT_APP_SUBGRAPH_API=https://api.studio.thegraph.com/query/5293/actualcryptodigger/0.0.3
REACT_APP_ETHERSCAN=https://etherscan.io/tx/
REACT_APP_ETHERSCAN_ADDRESS=https://etherscan.io/address/
REACT_APP_BITDAO_DOCS=https://docs.bitdao.io/
REACT_APP_BITDAO_SNAPSHOT=https://snapshot.org/#/bitdao.eth
REACT_APP_BITDAO_LEARNMORE=https://docs.bitdao.io/litepaper-1/how-to-delegate
REACT_APP_BITDAO_DISCORD=
REACT_APP_BITDAO_GOVERNANCE=

