@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SpaceGroteskRegular";
    src: local("SpaceGroteskRegular"),
        url("./fontFamily/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "SpaceGroteskBold";
    src: local("SpaceGroteskBold"),
      url("./fontFamily/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "ABeeZeeRegular";
    src: local("ABeeZeeRegular"),
      url("./fontFamily/ABeeZee-Regular.ttf") format("truetype");
  }
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button span {
  pointer-events: none;
}


body {
  font-family: "ABeeZeeRegular";
}
